<div class="card container" style="padding:15px; margin-top:1em">

  <h1><em>Hola usuario<strong> <%= current_user.email %> </strong>!</em></h1>

  <p><strong><em>Aquí estamos! Sigamos con el aprendizaje!! Come On Come On!!</em></strong></p>

  <p>A continuación veremos el link Inicio. Inspecciona la página y descubrirás que el root_path es la / (diagonal)</p>

  <%= link_to "Inicio", root_path %>
</div>
