<div class="jumbotron text-center">
  <div class="container">
    <h1>Blog con Ruby on Rails</h1>
    <p>Ésta es una aplicación Ruby implementada en Rails. Un pequeño blog para dar inicio a mi aprendizaje con el lenguaje y la programación en sí misma.</p>
    <a type="button" class="btn btn-lg btn-info" href="https://www.linkedin.com/in/luisfernandoramos1986"><span class="glyphicon glyphicon-flash"></span> Mi perfil LinkedIn</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/fernanluis/Blog"><span class="glyphicon glyphicon-download"></span> Fuente en GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Mi primeros pasos, entre otros, fueron a través de algunos tutoriales del <a href="https://developer.mozilla.org/es/" class="alert-link">MDN web docs</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Funcionalidades del Blog.</h3>
      <ul>
        <li> En principio un Inicio, la vista de la cual estas leyendo ahora mismo. La única menara de acceder es iniciando una sesión con un usuario.</li>

        <li> Puedes leer todos los artículos realizados por los ususario. </li>
        <li> Puedes escribir tus propios artículos y editarlos, asignarles categorías.</li>
        <li> Verás tu perfil de usuario y mucho más..</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Cómo sigue todo? Qué sigue?</h3>
      <ul>
        <li> Quiero continuar con una ruta para back-end y lograr convertirme en: Web developer in 2020</li>
        <li>  A continuación, la ruta a seguir para alcanzar la meta 2020; </li>
        <ul>
          <li><code> Git - Version Control  </code> - Una herramienta adecuada para el proceso de aprendizaje, tanto como las siguientes. </li>
          <li><code> Basic Terminal Usage </code> </li>
          <li><code> Data Structures & Algorithms  </code> </li>
          <li> GitHub </li>
          <li> Licenses </li>
          <li> Semantic Versioning </li>
          <li> SSH </li>
          <li> HTTP/HTTPs and APIs </li>
          <li> Design Patterns </li>
          <li> Character Encodings </li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Mis enlaces útiles </h3>
      <ul>
        <li><a href="https://www.heroku.com/home"> Heroku </a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-ruby-and-rails">Deploying Ruby Apps on Heroku</a></li>
        <li><a href="https://github.com/kamranahmedse/developer-roadmap"> Web developer in 2020 </a></li>
        <li><a href="https://rubyonrails.org/"> Ruby on Rails </a></li>
        <li><a href="https://www.ruby-lang.org/es/"> Ruby </a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Sigo camino para lograr la meta de iniciar en desarrollo web para éste año. Deséame suerte!
  </div>
</div>
