<h1 style="padding:15px">Editando categoría</h1>
<div class="card container" style="padding:15px; margin-top:1em">
  <%= render 'form', category: @category %>

  <%= link_to 'Mostrar', @category %> 
  <%= link_to 'Volver', categories_path %>
</div>
