<h1 style="padding:15px">New Category</h1> 
<div class="card container" style="padding:15px; margin-top:1em">

  <%= render 'form', category: @category %>

  <%= link_to 'Back', categories_path %>

</div>
